#canvas {
    /* width: 100%; */
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;

    /* margin-bottom: 50px; */
}

body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/l1_background.png");
    background-repeat: no-repeat;




}