#game-board {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

}

#canvas {}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;

    margin-bottom: 50px;
}

body {
    height: 100vh;
    overflow: hidden;
}